body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: Consolas, monospace !important;
}

textarea::placeholder {
  color: transparent !important;
}